/*  ALL ELEMENTS */
body {
    text-align: center;
    background-color: #d8e3e7;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.fixed-bottom {
    bottom: 3rem;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

.margin-top {
    margin-top: 7rem;
    padding-top: 10rem;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/*  HEADER  */
.heading {
    color: white;
    text-align: left;
    padding-left: 2%;
    font-size: 2.7rem;
    font-family: "Itim", cursive;
}

.heading-container {
    padding: 0.5% 0;
    background-color: #344fa1;
}

/*  Body.js */
.body-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/*  AlertMessage.js  */
.alert-container {
    z-index: 10;
    min-height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

.toast-header {
    justify-content: space-between;
}

/*  Model.js */
.upload-data {
    border-width: 2px;
    border: solid #dee2e6 !important;
    margin-top: 1rem;
    padding: 2rem 1.5rem 1.5rem;
}

.models {
    height: 20rem;
    padding-top: 1rem;
}

/*  ModelTable.js  */
.model-table {
    font-size: 1rem;
}

/*  ModelCard.js  */
.model-card-container {
    position: relative;
    font-size: 0.95rem;
    font-stretch: condensed;
    line-height: 1.5;
    font-weight: 500;
    color: whitesmoke;
    padding: .35em .65em;
    margin: 0.15rem;
}

/*  ColorModel.js  */
.color-model {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 35%;
    bottom: 35%;
    border-radius: 50%;
    border-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    opacity: 100%;
}

/*  UploadAnomalyForm.js  */
.dropdown-padding {
    padding-right: 3%;
}

.dropdown-color {
    padding: 3%;
    position: absolute;
    display: inline;
}

/*  CreateChart.js  */
.charts-container {
    position: absolute;
    margin-right: 0;
    padding-right: 0;
    width: 70%;
    height: 65%;
    right: 2%;
    top: 3%;
    bottom: 3%;
    /*margin-bottom: 2rem;*/
}

/*  Footer.js  */
.footer {
    text-align: center;
    color: gray;
    margin-top: .5rem;
    margin-bottom: .5rem;
}