
/*  ALL ELEMENTS */
body {
    text-align: center;
    background-color: antiquewhite;
}

.fixed-bottom {
    bottom: 3rem;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

.text-left {
    text-align: left !important;
}

/*  HEADER  */
.heading {
    color: white;
    text-align: left;
    padding-left: 3%;
    font-size: 2rem;
    font-family: "Itim",cursive;
}

.heading-container {
    padding: 0.5% 0;
    background-color: orange;
}

/*  Body.js */
.body-container {
    position: relative;
}

/*  Model.js */
.upload-data {
    border-width: 2px;
    border: solid #dee2e6!important;
    margin-top: 1rem;
    padding: 2rem 1.5rem 1.5rem;
}

.models {
    height: 25%;
    margin-left: 15%;
    margin-right: 15%;
}

/*  ModelTable.js  */
.model-table {
    font-size: 1rem;
}

/*  ModelCard.js  */
.model-card-container {
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 500;
    color: whitesmoke;
    padding: .35em .65em;
    margin: 0.15rem;
}

/*  Footer.js  */
.footer-container {
    position: relative;
}

.footer {
    position:absolute;
    color: gray;
    padding-bottom: 0;
    margin-bottom: 0;
}